.division {
  /* position: absolute; */
  /* left: 50%;
  top: 50%; */
  background-color: coral;
  /* transform: translate(-50%, -50%); */
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action-button {
  color: grey;
  font-size: 70px;
  border-radius: 100%;
  background-color: lightgreen;
  border: 5px solid rgb(82, 83, 79);
  transition-duration: 0.5s;
  text-align: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.action-button:hover {
  color: white;
  background-color: tomato;
}
.action-button:disabled {
  color: white;
  background-color: gray;
}
/* .addbutton {
  color: grey;
  font-size: 70px;
  border-radius: 50px;
  background-color: lightgreen;
  border: 5px solid rgb(82, 83, 79);
  transition-duration: 0.5s;
  text-align: center;
  width: 100px;
} */
.addbutton:hover {
  color: white;
  background-color: tomato;
}

.heading {
  font-size: 50px;
  color: mediumvioletred;
  /* margin-left: 30px; */
}
